/* God I hate Microsoft! */
header #logo a img {
	width:auto
	}
#cboxLoadingGraphic, #cboxLoadingOverlay {display:none !important;}
div.sort {width:300px}
div.limit {width:200px}
#search input {
	max-width:none;
	outline:none
	}
.product-info .image {margin-bottom:20px;}
.box .box-content .box-product ul li .inner {
	background-color:#f27996;
	}
a.button span {
	font-size:13px;
	}